<br/>
<div class="jumbotron">
    <h1>Users</h1>
    <p class="lead">Welcome to the Users page</p>
    <hr/>
    <form name="userForm" role="form">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input ng-model="mainCtrl.usersForm.FirstName" type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="MiddleInitial">Middle Initial</label>
            <input ng-model="mainCtrl.usersForm.MiddleInitial" ngtype="text" class="form-control" id="middleInitial" placeholder="Middle Initial">
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input ng-model="mainCtrl.usersForm.LastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="ModifiedBy">Modified By</label>
            <input ng-model="mainCtrl.usersForm.ModifiedBy" type="text" class="form-control" id="modifiedBy" placeholder="Modified By">
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input ng-model="mainCtrl.usersForm.PhoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
        </div>
        <button ng-click="mainCtrl.postUsers()" type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div class="container-fluid">
    <table class="table-condensed table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Middle</th>
                <th>Last Name</th>
                <th>Created Date</th>
                <th>Modified Date</th>
                <th>Modified By</th>
                <th>Phone Number</th>
                <th class="text-center" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="users in mainCtrl.users">
                <td>{{users.Id}}</td>
                <td>{{users.FirstName}}</td>
                <td>{{users.MiddleInitial}}</td>
                <td>{{users.LastName}}</td>
                <td>{{users.CreatedDate | date:"MM/dd/yyyy 'at' h:mma" : '-1400'}}</td>
                <td>{{users.ModifiedDate | date:"MM/dd/yyyy 'at' h:mma" : '-1400'}}</td>
                <td>{{users.ModifiedBy}}</td>
                <td>{{users.PhoneNumber}}</td>
                <td><button ng-click="mainCtrl.editButton(users.Id)" class="btn btn-warning btn-sm">Edit</button></td>
                <td><button ng-click="mainCtrl.deleteButton(users.Id, $index)" class="btn btn-danger btn-sm">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

{{mainCtrl.usersForm}}

<!--Add form to enter users
    Create modal for edit and add?
    Ui bootstrap?
    Add validation-->